.header {
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: var(--z-fixed);
    background: transparent;

    &.scroll-header {
        background-color: var(--body-color);
    }
}

.nav {
    height: var(--header-height);
    display: flex;
    justify-content: space-between;
    align-items: center;

    &__logo {
        display: flex;
        width: 1.5rem;
    }
    &__toggle {
        font-size: 1.2rem;
        color: var(--white-color);
        cursor: pointer;
    }
    &__list {
        display: flex;
        flex-direction: column;
        align-items: center;
        row-gap: 1rem;
    }
    &__link {
        color: var(--white-color);
        font-size: var(--h2-font-size);
        text-transform: uppercase;
        font-weight: var(--font-semi-bold);
        background: var(--text-gradient);
        color: transparent;
        -webkit-background-clip: text;
        background-clip: text;
        
        &:hover {
            background: var(--white-color);
            color: transparent;
            -webkit-background-clip: text;
            background-clip: text;
        }
    }
    &__close {
        position: absolute;
        font-size: 1.5rem;
        top: 1rem;
        right: 1rem;
        color: var(--white-color);
        cursor: pointer;
    }
    &__menu {
        &.show-menu {
            top: 0;
        }
    }
}

@media screen and (max-width: 767px) {
    .nav {
        &__menu {
            position: fixed;
            background-color: var(--body-color);
            top: -100%;
            left: 0;
            width: 100%;
            padding: 4rem 0 3rem 0;
            transition: .4s;
        }
    }
}