// Specs
.specs {
    &__container {
        position: relative;
    }
    &__content {
        row-gap: 1.5rem;
    }
    &__data {
        display: grid;
        row-gap: .25rem;
        &:nth-child(1), &:nth-child(4) {
            margin-left: var(--mb-1-5);
        }
    }
    &__icon {
        font-size: 1.2rem;
        color: var(--white-color);
    }
    &__title {
        font-size: var(--normal-font-size);
        font-weight: var(--font-medium);
    }
    &__subtitle {
        font-size: var(--smaller-font-size);
    }
    &__img {
        width: 250px;
        position: absolute;
        top: 2rem;
        right: -4rem;
    }
}